.delay {
    text-align: center;
}

.service {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.waiting {
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 10px;
}

.count {
    margin-bottom: 10px;
}

.count span {
    font-weight: 700;
}

.warning {
    margin-top: 10px;
    color: #6c6565;
}

.delayImg {
    width: 100%;
    height: 100%;
}